<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.altran.com/as-content/themes/altran/images/favicon/favicon-16x16.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/Clients/Search">Jose Luis Eiguren - Assessment</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> 
                        @if (Request.IsAuthenticated)
                        {
                            @Html.Encode(User.Identity.Name)
                        }
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Users/LogOut"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
        

    <div class="Title">@ViewBag.Title</div> 
    <div class="body-content">
        <div id="Loader" style="position: fixed; top: 50%; left: 50%;">
            <div id="Loader_1" class="Loader"></div>
            <div id="Loader_2" class="Loader"></div>
            <div id="Loader_3" class="Loader"></div>
            <div id="Loader_4" class="Loader"></div>
            <div id="Loader_5" class="Loader"></div>
            <div id="Loader_6" class="Loader"></div>
            <div id="Loader_7" class="Loader"></div>
            <div id="Loader_8" class="Loader"></div>
        </div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
