<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div>
            <div class="navbar-header">
                @Html.ActionLink("JLE Altran Assessment", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                @if (Request.IsAuthenticated)
                {
                    <label class="logedUser">Welcome @Html.Encode(User.Identity.Name)</label>
                    @Html.ActionLink("Sign Out", "Logout", "Users", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                
            </div>
        </div>
    </div>
    <div class="Title">@ViewBag.Title</div> 
    <div class="body-content">
        <div id="Loader" style="position: fixed; top: 50%; left: 50%;">
            <div id="Loader_1" class="Loader"></div>
            <div id="Loader_2" class="Loader"></div>
            <div id="Loader_3" class="Loader"></div>
            <div id="Loader_4" class="Loader"></div>
            <div id="Loader_5" class="Loader"></div>
            <div id="Loader_6" class="Loader"></div>
            <div id="Loader_7" class="Loader"></div>
            <div id="Loader_8" class="Loader"></div>
        </div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
